body {
  background: #70163C;
}

.beth-things-app {
  width: 100%;
  height: 100%;

  padding: 200px 100px;

  display: flex;
  align-items: center;

  background: #70163C;
  color: #F1F0CC;

  .quote {
    flex: 4;

    padding: 0 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;

    text-align: center;
  }

  .arrow-container {
    user-select: none;
    z-index: 1;

    position: relative;

    flex: 0 1 50px;

    &:hover {
      cursor: pointer;

      .arrow-svg {
        .arrow {
          fill: #70163C;
          transform: scale(0.8);
        }
      }

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &::before {
      z-index: -1;
      content: '';

      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);

      width: 60px;
      height: 60px;
      border-radius: 50%;

      background: #F1F0CC;
      opacity: 0;
    }

    .arrow-svg {
      .arrow {
        fill: #F1F0CC;
        transform-origin: center center;
        transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
    }
  }
}
